* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: #eceaff;
    color: #525252;
}
.name-brand {
    font-weight: 700;
    font-style: unset;
    text-decoration: none;
    color: white;
    margin-right: auto;
    padding-left: 1%;
}

.name-brand:hover{
    color:grey;
    transition: all .09s ease-in-out;

}
/* НАЧАЛО ШАПКИ */
nav {
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user-pic {
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
}

/* нав) */
nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color:grey;
    transition: all .09s ease-in-out;
}
/* конец */

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: white;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}
.sub-menu-link:hover p {
    font-weight: 600;
}
/*               КОНЕЦ ШАПКИ              */

/*             Товарная Карта            */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.container .tittle {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.container .products-container .product {
    text-align: center;
    padding: 3rem 3rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
.container .products-container .product:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product img {
    height: 17rem;
}

.container .products-container .product:hover img {
    transform: scale(.9);
}

.container .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.container .products-container .product .info a {
    font-size: 2rem;
    color: #444;
    text-decoration: none;
}

.container .products-container .product:hover a {
    color: #cccbcb;
}
/*               КОНЕЦ Карты              */