{% extends 'index.html' %}
{% load static %}
{% block content %}

    <h1>Наши спонсоры</h1>
    <p>Магазин неебатся классного барахла, Еще какая-то хуйня, Ебать копать классное такси</p>
    <img src="{% static 'gif/IMG_3179.gif' %}" alt="this slowpoke moves"  width="250" />

    <form action="{% url 'create-review' %}" method="post">
    <h1>Отзывы:</h1>

    {% if request.user.is_authenticated %}
        {% csrf_token %}
            <div>
                <p>Краткая оценка: </p>
                {{ create_review.title }}
                <p>Отзыв: </p>
                {{ create_review.content }}
                <button type="submit">Оставить отзыв</button>
            </div>

    {% else %}

        <div>
            <p1>Для того чтобы оставить отзыв, вам нужно войти в свой аккаунт, или зарегистрироваться</p1>
            <a href="{% url 'login' %}" class="reglog">Войти</a>
            <a href="{% url 'register' %}" class="edge-button">Регистрация</a>
        </div>

    {% endif %}

    {% for r in all_review %}
        <div class='osn'>
            <p>Пользователь: </p>
            <h1>{{ r.username }}</h1>
            <p>Краткая оценка: {{ r.title }}</p>
            <p>Отзыв: {{ r.content }}</p>
        </div>
    {% endfor %}

    </form>

{% endblock %}