{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image" href="{% static 'favicon/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <img src="{% static 'favicon/favicon.png' %}" class="favicon" width="50" height="50">
        <a href="{% url 'grob' %}" class="navbar-logo">Coffins</a>
        <div class="navbar-about">
            <a href="{% url 'about' %}" class="about">О нас</a>
            <a href="{% url 'login' %}" class="reglog">Войти</a>
            <a href="{% url 'register' %}" class="reglog">Регистрация</a>
        </div>
    </div>
</nav>
</body>


{% block content %}


{% endblock %}


</html>