{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}">
    <title>Ритуальные услуги ККМТ</title>
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
</head>
<body>
<div class="hero">
    <nav>
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'icons/icon.png' %}" class="" width="75" height="75"></a>
        <a href="{% url 'home' %}" class="name-brand"><h1>Coffins</h1></a>
        {% if request.user.is_authenticated %}
            <ul>
            <li><a href="{% url 'about' %}">О нас</a></li>
            </ul>
            <img src="{% static 'icons/default_userphoto.jpg' %}" class="user-pic" onclick="toggleMenu()">
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{% static 'icons/default_userphoto.jpg' %}" >
                        <h2>{{ user.username }}</h2>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="{% static 'icons/default_userphoto.jpg' %}">
                        <p>Профиль</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="{% static 'icons/setting.png' %}">
                        <p>Настройки</p>
                        <span>></span>
                    </a>
                    <a href="{% url 'logout' %}" class="sub-menu-link">
                        <img src="{% static 'icons/logout.png' %}">
                        <p>Выйти</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        {% else %}
            <ul>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'login' %}">Войти</a></li>
            </ul>
        {% endif %}
    </nav>
<div class="container">

{% block content %}


{% endblock %}

</div>
</div>
<script type="text/javascript" src={% static "stylesheet/script.js" %}></script>
</body>
</html>