{% extends 'base.html' %}

{% block content %}

    <title>{{ data.title }}</title>
    <h1 name="coffin">{{ data.title }}</h1>
    <img src="{{ data.photo.url }}" width="500" height="300">
    {{ data.content_details|linebreaks }}
    <div>
        <form action="{% url 'send_message' %}" method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            <div>
                <h1>Отправить заявку:</h1>
                <input name="coffin" value="{{ data.title }}" type="hidden">
                {{ form.comment }}
            </div>
            <button type="submit">Отправить</button>
        {% else %}
            <p>Для подачи заявки требуется авторизация</p>
            <a href="{% url 'register' %}" class="edge-button">Регистрация</a>
        {% endif %}
        </form>
    </div>
{% endblock %}