{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="tittle"> НАШИ ГРОБЫ </h3>
    <div class="products-container" >
    {% for i in objects %}
        <div class="products-container" >
            <div class="product">
                {% if i.photo %}<img src="{{ i.photo.url }}" class="">
                {% endif %}
                <h3>{{ i.title }}</h3>
                <div class="info"><a href="{% url 'details' i.slug %}">Подробнее</a></div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}