{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for p in posts %}
        <div class='osn'>
        <div class='card'>
            {% if p.photo %}
            <img class='card-img' src='{{ p.photo.url }}' width="500" height="300">
            {% endif %}
            <div class='card-title'>{{ p.title }}</div>
            <div class='card-sub'>
                {{ p.content }}
            </div>
            <div class='btn-keeper'>
                <a class='btn' href="{% url 'details' p.slug %}">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}